h1, h2, option, label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
    
}

h4 {
    font-weight: lighter;
}

label {
    font-size: 14px;
}

header {
    text-align: center;
    width: 100%; 
    background-color: D5B895;
    padding: 20px 0 0 0;
    height: 60px;
}

header h1 {
    padding-top: 10px;
}
main {
    width: 100%;
      
}

section {
 flex-direction: column;
 padding: 20px 0 0 0; 
}

#dogSection {
    width: 100%; 
    background-color: C19770;
    height: fit-content;
}

.dogPicImg {
    max-height: 300px;
    max-width: 300px;
    height: fit-content;
}

#videoSection {
    width: 100%; 
    background-color: C19770;
}

#favoritesSection {
    width: 100%; 
    background-color: F7E7CE;
    height: fit-content;
}
footer {
    text-align: center;
    width: 100%; 
    background-color: F7E7CE;
    height: 80px;
}

footer h4 {
    padding-top: 20px;
}

/* styling for Dog API section*/
.hidden {
    display:none;
}

#favoritesSection {
    width: 100%; 
    background-color: D5B895;
    height: fit-content;
}
#dogFaves img{ 
    max-height: 150px;
    max-width: 150px;
    height: fit-content; 
}

